body {
    font-family: 'Prompt', sans-serif;
    background-color: #f5f5f5;
    background: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  /* style.css */
  .calculator {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 350px;
    padding: 20px;
  }
  
  .display {
    background: #e9eef2;
    height: 80px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .history-display {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 2px;
  }

  .main-display {
    font-size: 2em;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
  }
  
  button {
    padding: 20px 0;
    font-size: 1.2em;
    background: #f4f7fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background: #d9e4ec;
  }
  
  /* ปรับขนาดปุ่ม = และ + */
  button.equal {
    grid-row: 5 / span 2;
    grid-column: 4;
    background: #268aff;
    color: white;
  }

  button.equal:hover {
    background-color: cornflowerblue;
  }
  
  button.plus {
    grid-row: 3 / span 2;
    grid-column: 4;
    background: #f4f7fa;
  }

  button.plus:hover {
    background-color: #d9e4ec;
  }

  button.clear {
    grid-row: 1;
    grid-column: 1 / span 4;
    background: #f4f7fa;
  }

  button.clear:hover {
    background-color: #d9e4ec;
  }
  
  